In [15]:
import pandas as pd
from sklearn.model_selection import cross_val_score, KFold
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
import numpy as np
import matplotlib.pyplot as plt

In [16]:
# Read the CSV into a DataFrame
df_gym = pd.read_csv("gym.csv")

In [17]:
# Display the first few rows of the data
df_gym.head()

,Age,Gender,Weight (kg),Height (m),Max_BPM,Avg_BPM,Resting_BPM,Session_Duration (hours),Calories_Burned,Workout_Type,Fat_Percentage,Water_Intake (liters),Workout_Frequency (days/week),Experience_Level,BMI
0,56,Male,88.3,1.71,180,157,60,1.69,1313.0,Yoga,12.6,3.5,4,3,30.20
1,46,Female,74.9,1.53,179,151,66,1.30,883.0,HIIT,33.9,2.1,4,2,32.00
2,32,Female,68.1,1.66,167,122,54,1.11,677.0,Cardio,33.4,2.3,4,2,24.71
3,25,Male,53.2,1.70,190,164,56,0.59,532.0,Strength,28.8,2.1,3,1,18.41
4,38,Male,46.1,1.79,188,158,68,0.64,556.0,Strength,29.2,2.8,3,1,14.39

In [18]:
from sklearn.preprocessing import LabelEncoder

# Initialize the LabelEncoder
le = LabelEncoder()

# Apply Label Encoding to the Gender column
df_gym['Gender_Encoded'] = le.fit_transform(df_gym['Gender'])

# Apply Label Encoding to the Workout_Type column
df_gym['Workout_Type_Encoded'] = le.fit_transform(df_gym['Workout_Type'])

# Show the updated dataframe
df_gym[['Gender', 'Gender_Encoded', 'Workout_Type', 'Workout_Type_Encoded']].head()

   Gender  Gender_Encoded Workout_Type  Workout_Type_Encoded
0    Male               1         Yoga                     3
1  Female               0         HIIT                     1
2  Female               0       Cardio                     0
3    Male               1     Strength                     2
4    Male               1     Strength                     2

In [19]:
df_gym_new= df_gym.drop(columns=['Gender', 'Workout_Type'])
df_gym_new.head()

,Age,Weight (kg),Height (m),Max_BPM,Avg_BPM,Resting_BPM,Session_Duration (hours),Calories_Burned,Fat_Percentage,Water_Intake (liters),Workout_Frequency (days/week),Experience_Level,BMI,Gender_Encoded,Workout_Type_Encoded
0,56,88.3,1.71,180,157,60,1.69,1313.0,12.6,3.5,4,3,30.20,1,3
1,46,74.9,1.53,179,151,66,1.30,883.0,33.9,2.1,4,2,32.00,0,1
2,32,68.1,1.66,167,122,54,1.11,677.0,33.4,2.3,4,2,24.71,0,0
3,25,53.2,1.70,190,164,56,0.59,532.0,28.8,2.1,3,1,18.41,1,2
4,38,46.1,1.79,188,158,68,0.64,556.0,29.2,2.8,3,1,14.39,1,2

In [20]:
#Separe training dataset from the target attribute
X = df_gym_new.drop(columns=['Experience_Level'])  # Variáveis independentes
y = df_gym_new['Experience_Level']  # Variável dependente (alvo)

In [21]:
from sklearn.preprocessing import StandardScaler
# Padronizar os atributos preditores
# O K-NN é sensível à escala dos dados, então precisamos normalizar
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [22]:
X_scaled

array([[ 1.42234256,  0.6814925 , -0.09854471, ...,  0.7942783 ,
         0.95084677,  1.33848518],
       [ 0.60096485,  0.04931563, -1.50860357, ...,  1.06465186,
        -1.05169416, -0.43946169],
       [-0.54896396, -0.27149054, -0.49022773, ..., -0.03036106,
        -1.05169416, -1.32843512],
       ...,
       [ 1.66875588, -0.63475635,  0.29313831, ..., -0.81294232,
        -1.05169416, -1.32843512],
       [-0.54896396,  2.47895061,  0.84149453, ...,  1.92684311,
         0.95084677, -0.43946169],
       [ 0.60096485,  0.70036345, -0.72523754, ...,  1.27193826,
         0.95084677,  0.44951175]])

In [23]:
# Configurar o modelo K-NN
knn_model = KNeighborsClassifier(n_neighbors=3)  # Começamos com k=3

In [24]:
# Configurar a validação cruzada (10 KFolds)
kf = KFold(n_splits=10, shuffle=True, random_state=42)

In [25]:
# Aplicar validação cruzada
cv_scores = cross_val_score(knn_model, X_scaled, y, cv=kf, scoring='accuracy')
# cv_scores = cross_val_score(knn_model, X_scaled, y, cv=kf, scoring='accuracy')
print(cv_scores)

[0.79591837 0.87755102 0.80612245 0.82474227 0.77319588 0.8556701
 0.86597938 0.84536082 0.75257732 0.77319588]

In [26]:
# Calcular e exibir os resultados
mean_accuracy = np.mean(cv_scores)
print("Acurácias nos 10 KFolds:", cv_scores)
print("Acurácia média:", mean_accuracy)

Acurácias nos 10 KFolds: [0.79591837 0.87755102 0.80612245 0.82474227 0.77319588 0.8556701
 0.86597938 0.84536082 0.75257732 0.77319588]
Acurácia média: 0.8170313486219231